{% extends "admin/base_site.html" %}

{% block extrahead %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="containter">
  <div class="page-header">
    <h2>Invite user to {{ organization.title }} organization</h2>
  </div>
  <hr/>
  <form id="invite-user">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id_first_name">First Name</label>
      <div class="col-sm-10">
        <input type="text" name="first_name" value="" id="id_first_name" required="" class="form-control"
               maxlength="255">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id_last_name">Last Name</label>
      <div class="col-sm-10">
        <input type="text" name="last_name" value="" id="id_last_name" required="" class="form-control" maxlength="255">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id_email">Email</label>
      <div class="col-sm-10">
        <input type="email" name="email" value="" id="id_email" required="" class="form-control" maxlength="255">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Role</label>
      <div class="col-sm-10">
        <select class="form-control" id="id_role">
          <option value="0" selected>Admin</option>
          <option value="1">Standard</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Invite</button>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#invite-user").submit(function (event) {
      event.preventDefault();
      var data = {
        'first_name': $('#id_first_name').val(),
        'last_name': $('#id_last_name').val(),
        'email': $('#id_email').val(),
        'organization': "{{ organization.id }}",
        'org_user_profile': {
          'role': $('#id_role').val(),
        }
      };
      $.ajax({
        method: 'POST',
        url: '/api/v1/user/',
        contentType: 'application/json',
        processData: false,
        headers: {
          'X-CSRFToken': "{{ csrf_token }}",
        },
        data: JSON.stringify(data),
        success: function (data) {
          alert("User invited successfully!");
          window.location = '/admin/organization/organization/{{ organization.id }}/invite-user/'
        },
        error: function (data) {
          alert("An error occurred, please try again..");
        }
      });
    });
  });
</script>
{% endblock %}
